@*@model IEnumerable<GeoServer.Models.ApplicationUser>*@
@model IEnumerable<GeoServer.Models.UserViewModel>

@{
    ViewBag.Title = GeoServer.Resources.AdminTexts.Users;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@GeoServer.Resources.AdminTexts.Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @for (int i = 0; i < item.Roles.Count; i++)
            {
                if (i < item.Roles.Count - 1)
                {
                    <text>
                        @Html.Raw(item.Roles[i] + ", ")
                    </text>
                }
                else
                {
                    <text>
                        @Html.Raw(item.Roles[i])
                    </text>
                }
            }
        </td>
        <td>
            @Html.ActionLink(GeoServer.Resources.Interface.Edit, "Edit", new { id = item.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
